body {
    font-family: "Lato";
    font-weight: 400;
  }
  h4 {
    font-size: 32px;
  }
  h6 {
      font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  
  /* navbar */
  nav {
    background-color: #c4df9c;
  }
  nav a{
    color: black !important;
  }
  .navbar-brand {
    font-size: 28px;
  }
  .navbar-nav a {
    font-size: 16px;
    margin-left: 30px;
    color: black;
  }
  .active {
    font-weight: 700;
  }
  nav a.btn {
    border-radius: 10px;
    border-color: black;
    width: 120px;
    height: 40px;
  }

  /* judul */
  .judul{
      padding: 100px 0;
      background-color: #c4df9c;
  }
  .judul h1{
      font-family: 'Gentium Basic';
  }